html
  head
    title='Shortest Straw'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //script.
      //window.__INITIAL_STATE__ = !{initialState};
  body
    div#content!= content
    script(src='http://localhost:3001/dist/bundle.js', defer)
